{% block about_content %}
            <div>
            <h3 style="color: #003399;text-align:center;">PROLOGISTICS</h3>
            <div style="text-align:justify;line-height:25px;">
                <p><strong>Finalidad:</strong>UNA BREVE DESCRIPCION</p>
                <p><strong>Versión:</strong>2.0</p>
                <p><strong>Tecnologías Utilizadas:</strong>
                <ul>
                    <li><strong>Framework de programación:</strong> Symfony 2.8</li>
                    <li><strong>Gestor de Base de Datos:</strong> SQL Server</li>
                    <li><strong>Profesor:</strong> Ing. Edwin Callejas</li>
                    <li><strong>Materia:</strong> Estándares de Programación</li>

                </ul>
                </p>
                <p><strong style="color: #003399;">SIGLAS DEL SISTEMA</strong><strong> -PROLOGISTICS </strong>Desarrollado por equipo de la UTEC</p>
                <p><strong>Contactenos:</strong> 2511002012@mail.utec.edu.sv </p>
            </div>
            <br />
        </div>
        <br />

    </div>
{% endblock %}
