{% block about_content %}
            <div>
            <h3 style="color: #003399;text-align:center;">NOMBRE DEL SISTEMA</h3>
            <div style="text-align:justify;line-height:25px;">
                <p><strong>Finalidad:</strong>UNA BREVE DESCRIPCION</p>
                <p><strong>Versión:</strong>2.0</p>
                <p><strong>Tecnologías Utilizadas:</strong>
                <ul>
                    <li><strong>Framework de programación:</strong> Symfony 2.8</li>
                    <li><strong>Gestor de Base de Datos:</strong> PostgreSQL</li>
                    <li><strong>Licencia:</strong> OpenGL</li>

                </ul>
                </p>
                <p><strong style="color: #003399;">SIGLAS DEL SISTEMA</strong><strong> -SUIS </strong>es diseñado por el equipo de desarrollo de la Dirección de Tecnología de Información y Comunicaciones(DTIC)</p>
                <p><strong>Contactenos:</strong> CORREO@salud.gob.sv </p>
            </div>
            <br />
        </div>
        <br />

    </div>
{% endblock %}
